Some quick points that I can think of , just posting here for further discussion and fine tuning:<br/> •	Create frequency distribution of windspeed <br />
•	Create shear plot ( change of windspeed at different heights) <br/>
•	Create wind rose plot ( intensity of wind speed coming from different direction) <br/>
•	Complete Long term analysis using MCP (measure -correlate Predict) method <br/>
•	Compute energy for a given set of power curve’s for different model<br/>
•	Choose the best turbine from the above analysis for the site.<br/>

In [1]:
import numpy as np
import pandas as pd

In [2]:
es=pd.read_csv("./ERA5_C_site.csv")
es

,Date/Time,ERA5_C~SP2~Mean,ERA5_C~T2~Mean,ERA5_C~Ws100~Mean,ERA5_C~Wd100~Mean
0,1996-01-01 05:30,1008.31,13.705,9.2152,30.0894
1,1996-01-01 06:30,1008.67,13.474,8.9317,33.2321
2,1996-01-01 07:30,1009.03,13.220,8.5267,34.8196
3,1996-01-01 08:30,1010.45,13.442,8.1279,36.3909
4,1996-01-01 09:30,1010.88,14.889,6.7576,34.9857
...,...,...,...,...,...
247627,2024-04-01 00:30,1004.14,25.416,7.5976,287.8230
247628,2024-04-01 01:30,1003.80,24.186,7.5602,294.3090
247629,2024-04-01 02:30,1003.31,23.972,7.4517,300.4290
247630,2024-04-01 03:30,1002.64,23.457,6.5235,301.9260
247631,2024-04-01 04:30,1002.28,23.258,6.3427,307.1950

In [3]:
eos=pd.read_csv("./ERA5_C_offsite.csv")
eos

,Date/Time,ERA5_C~T2~Mean,ERA5_C~Ws100~Mean,ERA5_C~Wd100~Mean,ERA5_C~SP2~Mean
0,1996-01-01 05:30,10.976,7.6547,37.9641,987.540
1,1996-01-01 06:30,11.030,7.6604,40.0875,987.988
2,1996-01-01 07:30,11.056,7.7203,42.5061,988.601
3,1996-01-01 08:30,11.343,7.4758,44.5664,989.516
4,1996-01-01 09:30,13.264,6.3605,45.3127,990.104
...,...,...,...,...,...
247627,2024-04-01 00:30,27.170,9.5860,13.8361,981.725
247628,2024-04-01 01:30,25.400,8.9825,18.6523,981.775
247629,2024-04-01 02:30,24.953,8.1727,26.2199,981.219
247630,2024-04-01 03:30,23.100,7.4124,40.2807,980.574
247631,2024-04-01 04:30,22.689,6.3745,46.3520,980.618

In [4]:
efos=pd.read_csv("./ERA5_C_very faroffsite.csv")
efos

,Date/Time,ERA5_C~T2~Mean,ERA5_C~Ws100~Mean,ERA5_C~Wd100~Mean,ERA5_C~SP2~Mean
0,1996-01-01 05:30,16.746,1.8562,62.4291,941.350
1,1996-01-01 06:30,16.593,1.7638,66.9799,941.938
2,1996-01-01 07:30,17.767,1.6365,65.7207,942.221
3,1996-01-01 08:30,20.805,1.6604,64.7641,943.496
4,1996-01-01 09:30,21.604,1.6982,66.5742,943.964
...,...,...,...,...,...
246883,2024-03-01 00:30,24.851,1.9119,275.9390,942.030
246884,2024-03-01 01:30,23.792,1.6751,274.4610,941.773
246885,2024-03-01 02:30,22.932,1.5038,277.6940,941.155
246886,2024-03-01 03:30,22.661,1.4670,325.0680,940.828
246887,2024-03-01 04:30,22.818,1.2144,337.3100,940.653

In [5]:
ms=pd.read_csv("./MERRA2_C_site.csv")
ms

,Date/Time,MERRA-2_C~SP0~Mean,MERRA-2_C~Ws50~Mean,MERRA-2_C~Wd50~Mean,MERRA-2_C~T10~Mean
0,1996-01-01 06:00,1012.980,8.3253,36.9201,14.657
1,1996-01-01 07:00,1013.580,7.9748,39.3191,14.331
2,1996-01-01 08:00,1014.380,7.4100,42.0656,14.678
3,1996-01-01 09:00,1015.320,5.9059,41.9242,16.133
4,1996-01-01 10:00,1016.140,5.2128,38.7750,18.837
...,...,...,...,...,...
250555,2024-08-01 01:00,995.959,9.0857,211.6560,27.575
250556,2024-08-01 02:00,995.475,9.1128,211.9580,27.498
250557,2024-08-01 03:00,995.219,8.6561,212.4650,27.425
250558,2024-08-01 04:00,995.192,8.1475,214.6740,27.368
250559,2024-08-01 05:00,994.991,8.4799,220.4550,27.336

In [6]:
mos=pd.read_csv("./MERRA2_C_offsite.csv")
mos

,Date/Time,MERRA-2_C~Ws50~Mean,MERRA-2_C~Wd50~Mean,MERRA-2_C~T10~Mean,MERRA-2_C~SP0~Mean
0,1996-01-01 06:00,7.1281,59.5910,11.431,989.616
1,1996-01-01 07:00,6.9543,60.3434,11.104,990.382
2,1996-01-01 08:00,6.8910,60.7018,11.553,991.098
3,1996-01-01 09:00,5.6506,61.2046,14.008,991.644
4,1996-01-01 10:00,4.5406,56.5156,16.626,992.220
...,...,...,...,...,...
249811,2024-07-01 01:00,7.8603,196.9070,30.203,969.071
249812,2024-07-01 02:00,7.5974,202.0720,29.872,968.403
249813,2024-07-01 03:00,7.3559,205.9630,29.598,967.952
249814,2024-07-01 04:00,7.1070,207.4320,29.330,967.755
249815,2024-07-01 05:00,6.8777,208.1250,29.078,967.797

In [7]:
mfos=pd.read_csv("./MERRA2_C_very faroffsite.csv")
mfos

,Date/Time,MERRA-2_C~Ws50~Mean,MERRA-2_C~Wd50~Mean,MERRA-2_C~T10~Mean,MERRA-2_C~SP0~Mean
0,1996-01-01 06:00,4.3737,32.1319,18.095,981.936
1,1996-01-01 07:00,4.5690,46.2801,17.885,982.542
2,1996-01-01 08:00,4.0795,60.4133,19.444,983.018
3,1996-01-01 09:00,2.6023,48.1729,22.328,983.484
4,1996-01-01 10:00,1.7131,31.4560,24.993,983.740
...,...,...,...,...,...
248347,2024-05-01 01:00,2.5752,247.4420,26.718,975.442
248348,2024-05-01 02:00,2.3436,248.3330,26.292,974.792
248349,2024-05-01 03:00,2.2089,250.4190,25.970,974.439
248350,2024-05-01 04:00,1.9677,251.0100,25.712,974.444
248351,2024-05-01 05:00,1.5244,246.7140,25.588,974.661

In [4]:
m1=pd.read_csv("./Mast1_ zone42_wgs84_ 473066 _ 2600838.csv")
m1

,Date/Time,Mast1~WS125A~Mean,Mast1~WS125A~StdDev,Mast1~WS125A~Min,Mast1~WS125A~Max,Mast1~WS125A~Flag,Mast1~WS125B~Mean,Mast1~WS125B~StdDev,Mast1~WS125B~Min,Mast1~WS125B~Max,...,Mast1~WD98~Min,Mast1~WD98~Max,Mast1~P75~Mean,Mast1~P75~StdDev,Mast1~P75~Min,Mast1~P75~Max,Mast1~T75~Mean,Mast1~T75~StdDev,Mast1~T75~Min,Mast1~T75~Max
0,02-01-2012 18:50,6.054,0.102,2.1,6.2,0.006,6.070,0.145,1.9,6.4,...,26.7,30.9,1001.3,0.272,1000.2,1001.8,19.3,0.465,18.6,19.9
1,02-01-2012 19:00,6.164,0.000,5.9,6.3,0.006,6.183,0.102,5.9,6.3,...,22.5,28.1,1001.5,0.272,1001.3,1001.8,19.0,0.379,18.4,19.8
2,02-01-2012 19:10,6.192,0.102,6.0,6.3,0.006,6.222,0.000,5.9,6.5,...,21.1,23.9,1001.8,0.272,1001.5,1002.1,18.7,0.509,18.2,19.7
3,02-01-2012 19:20,6.263,0.102,6.0,6.5,0.002,6.288,0.145,6.0,6.5,...,21.1,25.3,1002.1,0.272,1001.5,1002.3,18.3,0.240,18.0,18.8
4,02-01-2012 19:30,6.102,0.102,5.9,6.3,0.002,6.125,0.102,5.9,6.3,...,22.5,26.7,1002.1,0.272,1001.8,1002.3,18.6,0.427,18.1,19.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199250,17-10-2015 11:10,4.354,0.702,2.6,6.1,0.100,4.305,0.800,2.8,6.6,...,309.4,71.7,1000.2,0.272,999.9,1001.0,32.8,0.545,32.3,34.1
199251,17-10-2015 11:20,4.359,0.664,2.9,5.7,0.082,4.187,0.746,2.5,6.5,...,270.0,57.7,1000.2,0.272,999.9,1000.7,32.9,0.310,32.4,33.6
199252,17-10-2015 11:30,4.427,0.813,2.6,6.3,0.098,4.265,0.944,2.3,6.6,...,309.4,123.8,1000.2,0.272,999.9,1000.5,33.4,0.550,32.8,34.7
199253,17-10-2015 11:40,4.188,0.702,2.5,6.1,0.114,4.084,0.773,1.9,6.2,...,315.0,56.3,999.9,0.272,999.4,1000.2,33.8,0.475,33.4,35.2
199254,17-10-2015 11:50,4.199,0.739,2.3,5.9,0.108,3.997,0.739,2.1,5.9,...,233.4,158.9,999.9,0.272,999.7,1000.2,33.8,0.259,33.5,34.3

In [9]:
m2=pd.read_csv("./Mast2_zone42_wgs84_490126_2600508.csv")
m2

,Date/Time,Mast2~WS125A~Mean,Mast2~WS125A~StdDev,Mast2~WS125A~Max,Mast2~WS125A~Min,Mast2~WS125B~Mean,Mast2~WS125B~StdDev,Mast2~WS125B~Max,Mast2~WS125B~Min,Mast2~WS120~Mean,...,Mast2~WD98~Max,Mast2~WD98~Min,Mast2~P75~Mean,Mast2~P75~StdDev,Mast2~P75~Max,Mast2~P75~Min,Mast2~T75~Mean,Mast2~T75~StdDev,Mast2~T75~Max,Mast2~T75~Min
0,19-08-2013 12:00,9.1827,1.4689,12.0547,4.8339,9.2309,1.4689,12.5750,4.8339,9.2915,...,10,10,991.1904,0.1870,991.8839,990.9595,29.0707,0.1483,29.4621,28.8365
1,19-08-2013 12:10,9.2007,1.2352,12.0547,5.6911,9.2612,1.2352,12.0547,5.6911,9.2854,...,10,10,991.1904,0.3582,994.6723,990.9595,29.3054,0.0962,29.7762,29.1489
2,19-08-2013 12:20,9.6073,1.3470,13.1183,4.8339,9.6641,1.3470,13.1183,5.6911,9.6958,...,10,10,991.1904,0.1506,991.8839,990.9595,29.0707,0.1764,29.4621,28.8365
3,19-08-2013 12:30,9.6324,1.1328,12.5750,6.4390,9.6767,1.1328,12.5750,6.4390,9.7085,...,10,10,991.1904,0.1506,991.8839,990.9595,29.1489,0.2389,29.7762,28.8365
4,19-08-2013 12:40,10.0389,0.7345,12.0547,6.4390,10.1117,0.7345,12.0547,7.2906,10.1117,...,10,10,991.1904,0.1506,991.8839,990.9595,28.6806,0.1689,29.1489,28.5250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239251,07-03-2018 23:10,4.3551,0.3517,4.8339,4.1130,4.3169,0.3224,4.8339,4.1130,4.2549,...,5,5,997.0133,0.0000,997.4834,996.5438,27.9818,0.0597,28.2142,27.9044
239252,07-03-2018 23:20,4.5719,0.4004,5.6911,4.1130,4.5603,0.3835,5.6911,4.1130,4.4861,...,5,5,997.0133,0.1506,997.4834,996.5438,27.9818,0.0680,28.2142,27.9044
239253,07-03-2018 23:30,4.3661,0.4182,4.8339,3.3710,4.3359,0.4367,4.8339,3.3710,4.3006,...,5,5,997.0133,0.1065,997.4834,996.5438,27.9044,0.2389,28.2142,27.2872
239254,07-03-2018 23:40,3.7219,1.0847,5.6911,1.8370,3.6714,1.0387,5.6911,1.8370,3.5549,...,5,5,997.0133,0.1065,997.4834,996.5438,26.7498,0.4574,27.5954,25.7587
239255,07-03-2018 23:50,3.4298,0.7345,4.8339,1.8370,3.4382,0.7345,4.8339,1.8370,3.2749,...,5,5,996.7785,0.1870,997.4834,996.5438,25.9106,0.0962,26.0627,25.7587

In [10]:
# Above cells have all Datasets in CSV format loaded that has ERA5 and MERRA2 Satellite Data(Site, Offsite and Far Offsite)
# Wind Mast1 and 2 readings also loaded with 6 Wind speed sensors different altitudes 125(A and B), 120, 93, 75 and 60m
# Two Wind direction sensors at altitude 123 and 98m is read
# There is one Pressure and Temperator sensor at 75m altitude
# Dataframe named with alias Wind Mast 1 as m1,Wind Mast 2 as m2, ERA Site as es, ERA Off site as eos, ERA Far Off Site as efos, 
# MERRA site as ms, MERRA Off site as mos, MERRA Far Off site as mfos

In [2]:
# Data clean up and required filter of years (2015, 2016, 2017) for all required datasets.

def Data_cleanup_Yr_Filter(df):
    years_to_filter = [ 2015, 2016, 2017 ] # So we can compare past year vs current (2015) and future year with a prediction (2017).
    df = df.rename(columns={'Date/Time':'DateTime'}) # Renaming the Date/Time to Datetime to remove specical characters.
    df.columns = df.columns.str.replace('~','_',regex=False) # Removing specical characters.
    try:
        df['DateTime'] = pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M') # Check if the DateTime column is in YYMMDD format
    except ValueError:
        df['DateTime'] = pd.to_datetime(df['DateTime'], format='%d-%m-%Y %H:%M') # If not Convert to YYMMDD format
    year_filtered_dataframe = df[df['DateTime'].dt.year.isin(years_to_filter)]  # Filter the data by Years 2015 to 2017
    Filtered_col=year_filtered_dataframe.columns[1:] # Select all columns after DataTime
    year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
    return(year_filtered_dataframe) # Print the final outcome

In [5]:
filtered_m1 = Data_cleanup_Yr_Filter(m1)
filtered_m1

C:\Users\manul\AppData\Local\Temp\ipykernel_8304\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_8304\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

,DateTime,Mast1_WS125A_Mean,Mast1_WS125A_StdDev,Mast1_WS125A_Min,Mast1_WS125A_Max,Mast1_WS125A_Flag,Mast1_WS125B_Mean,Mast1_WS125B_StdDev,Mast1_WS125B_Min,Mast1_WS125B_Max,...,Mast1_WD98_Min,Mast1_WD98_Max,Mast1_P75_Mean,Mast1_P75_StdDev,Mast1_P75_Min,Mast1_P75_Max,Mast1_T75_Mean,Mast1_T75_StdDev,Mast1_T75_Min,Mast1_T75_Max
157567,2015-01-01 00:00:00,12.88,0.75,10.7,14.8,0.04,13.11,0.81,10.6,15.2,...,23.9,45.0,994.9,0.27,994.6,995.4,12.8,0.44,12.4,13.8
157568,2015-01-01 00:10:00,12.69,0.79,10.3,14.4,0.04,12.93,0.84,10.4,14.6,...,22.5,45.0,994.6,0.27,994.3,995.1,12.6,0.39,12.2,13.6
157569,2015-01-01 00:20:00,12.38,0.81,10.1,14.2,0.05,12.60,0.88,9.8,14.6,...,23.9,47.8,994.6,0.27,994.1,994.9,12.3,0.17,12.1,12.6
157570,2015-01-01 00:30:00,12.55,0.72,11.0,14.3,0.04,12.77,0.79,10.7,14.6,...,23.9,46.4,994.6,0.27,994.1,995.1,12.7,0.39,12.2,13.4
157571,2015-01-01 00:40:00,12.32,0.76,10.7,14.0,0.05,12.51,0.84,10.6,14.2,...,23.9,47.8,994.3,0.27,994.1,994.6,12.6,0.48,11.9,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199250,2015-10-17 11:10:00,4.35,0.70,2.6,6.1,0.10,4.30,0.80,2.8,6.6,...,309.4,71.7,1000.2,0.27,999.9,1001.0,32.8,0.55,32.3,34.1
199251,2015-10-17 11:20:00,4.36,0.66,2.9,5.7,0.08,4.19,0.75,2.5,6.5,...,270.0,57.7,1000.2,0.27,999.9,1000.7,32.9,0.31,32.4,33.6
199252,2015-10-17 11:30:00,4.43,0.81,2.6,6.3,0.10,4.26,0.94,2.3,6.6,...,309.4,123.8,1000.2,0.27,999.9,1000.5,33.4,0.55,32.8,34.7
199253,2015-10-17 11:40:00,4.19,0.70,2.5,6.1,0.11,4.08,0.77,1.9,6.2,...,315.0,56.3,999.9,0.27,999.4,1000.2,33.8,0.47,33.4,35.2
199254,2015-10-17 11:50:00,4.20,0.74,2.3,5.9,0.11,4.00,0.74,2.1,5.9,...,233.4,158.9,999.9,0.27,999.7,1000.2,33.8,0.26,33.5,34.3

In [13]:
filtered_m1

,DateTime,Mast1_WS125A_Mean,Mast1_WS125A_StdDev,Mast1_WS125A_Min,Mast1_WS125A_Max,Mast1_WS125A_Flag,Mast1_WS125B_Mean,Mast1_WS125B_StdDev,Mast1_WS125B_Min,Mast1_WS125B_Max,...,Mast1_WD98_Min,Mast1_WD98_Max,Mast1_P75_Mean,Mast1_P75_StdDev,Mast1_P75_Min,Mast1_P75_Max,Mast1_T75_Mean,Mast1_T75_StdDev,Mast1_T75_Min,Mast1_T75_Max
157567,2015-01-01 00:00:00,12.88,0.75,10.7,14.8,0.04,13.11,0.81,10.6,15.2,...,23.9,45.0,994.9,0.27,994.6,995.4,12.8,0.44,12.4,13.8
157568,2015-01-01 00:10:00,12.69,0.79,10.3,14.4,0.04,12.93,0.84,10.4,14.6,...,22.5,45.0,994.6,0.27,994.3,995.1,12.6,0.39,12.2,13.6
157569,2015-01-01 00:20:00,12.38,0.81,10.1,14.2,0.05,12.60,0.88,9.8,14.6,...,23.9,47.8,994.6,0.27,994.1,994.9,12.3,0.17,12.1,12.6
157570,2015-01-01 00:30:00,12.55,0.72,11.0,14.3,0.04,12.77,0.79,10.7,14.6,...,23.9,46.4,994.6,0.27,994.1,995.1,12.7,0.39,12.2,13.4
157571,2015-01-01 00:40:00,12.32,0.76,10.7,14.0,0.05,12.51,0.84,10.6,14.2,...,23.9,47.8,994.3,0.27,994.1,994.6,12.6,0.48,11.9,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199250,2015-10-17 11:10:00,4.35,0.70,2.6,6.1,0.10,4.30,0.80,2.8,6.6,...,309.4,71.7,1000.2,0.27,999.9,1001.0,32.8,0.55,32.3,34.1
199251,2015-10-17 11:20:00,4.36,0.66,2.9,5.7,0.08,4.19,0.75,2.5,6.5,...,270.0,57.7,1000.2,0.27,999.9,1000.7,32.9,0.31,32.4,33.6
199252,2015-10-17 11:30:00,4.43,0.81,2.6,6.3,0.10,4.26,0.94,2.3,6.6,...,309.4,123.8,1000.2,0.27,999.9,1000.5,33.4,0.55,32.8,34.7
199253,2015-10-17 11:40:00,4.19,0.70,2.5,6.1,0.11,4.08,0.77,1.9,6.2,...,315.0,56.3,999.9,0.27,999.4,1000.2,33.8,0.47,33.4,35.2
199254,2015-10-17 11:50:00,4.20,0.74,2.3,5.9,0.11,4.00,0.74,2.1,5.9,...,233.4,158.9,999.9,0.27,999.7,1000.2,33.8,0.26,33.5,34.3

In [14]:
filtered_m2=Data_cleanup_Yr_Filter(m2)
print(filtered_m2)

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

                  DateTime  Mast2_WS125A_Mean  Mast2_WS125A_StdDev  \
71928  2015-01-01 00:00:00           99999.00             99999.00
71929  2015-01-01 00:10:00           99999.00             99999.00
71930  2015-01-01 00:20:00           99999.00             99999.00
71931  2015-01-01 00:30:00           99999.00             99999.00
71932  2015-01-01 00:40:00           99999.00             99999.00
...                    ...                ...                  ...
229747 2017-12-31 23:10:00               9.74                 0.46
229748 2017-12-31 23:20:00               9.39                 0.54
229749 2017-12-31 23:30:00               9.02                 0.52
229750 2017-12-31 23:40:00               9.10                 0.50
229751 2017-12-31 23:50:00               9.35                 0.46

        Mast2_WS125A_Max  Mast2_WS125A_Min  Mast2_WS125B_Mean  \
71928           99999.00          99999.00           99999.00
71929           99999.00          99999.00           99999.00
71930           99999.00          99999.00           99999.00
71931           99999.00          99999.00           99999.00
71932           99999.00          99999.00           99999.00
...                  ...               ...                ...
229747             11.08              7.92               9.86
229748             11.08              7.92               9.49
229749             10.19              7.29               9.12
229750             10.19              7.92               9.19
229751             10.19              7.92               9.46

        Mast2_WS125B_StdDev  Mast2_WS125B_Max  Mast2_WS125B_Min  \
71928              99999.00          99999.00          99999.00
71929              99999.00          99999.00          99999.00
71930              99999.00          99999.00          99999.00
71931              99999.00          99999.00          99999.00
71932              99999.00          99999.00          99999.00
...                     ...               ...               ...
229747                 0.46             11.08              8.61
229748                 0.57             11.08              7.92
229749                 0.52             10.19              7.92
229750                 0.52             10.19              7.92
229751                 0.48             10.19              7.92

        Mast2_WS120_Mean  ...  Mast2_WD98_Max  Mast2_WD98_Min  Mast2_P75_Mean  \
71928              12.17  ...           99999           99999          997.72
71929              12.40  ...           99999           99999          997.72
71930              12.17  ...           99999           99999          997.72
71931              12.07  ...           99999           99999          997.72
71932              11.46  ...           99999           99999          997.48
...                  ...  ...             ...             ...             ...
229747              9.46  ...               5               5          998.43
229748              9.10  ...               5               5          998.43
229749              8.70  ...               5               5          998.19
229750              8.81  ...               5               5          998.19
229751              9.05  ...               5               5          997.95

        Mast2_P75_StdDev  Mast2_P75_Max  Mast2_P75_Min  Mast2_T75_Mean  \
71928               0.26         998.43         997.48           15.27
71929               0.21         998.43         997.48           15.21
71930               0.21         998.43         997.48           15.14
71931               0.19         998.43         997.48           15.14
71932               0.19         998.43         997.48           14.93
...                  ...            ...            ...             ...
229747              0.00         998.43         998.43           20.64
229748              0.11         998.43         998.43           20.50
229749              0.15         998.43         998.43           20.35
229750              0.19         998.43         998.43           20.28
229751              0.19         998.43         998.43           20.14

        Mast2_T75_StdDev  Mast2_T75_Max  Mast2_T75_Min
71928               0.05          15.34          15.34
71929               0.05          15.34          15.07
71930               0.05          15.34          15.07
71931               0.07          15.34          15.07
71932               0.09          15.34          14.79
...                  ...            ...            ...
229747              0.03          20.71          20.42
229748              0.03          20.71          20.42
229749              0.07          20.42          20.14
229750              0.06          20.42          20.14
229751              0.08          20.42          20.14

[157824 rows x 41 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [15]:
filtered_es=Data_cleanup_Yr_Filter(es)
print(filtered_es)

                  DateTime  ERA5_C_SP2_Mean  ERA5_C_T2_Mean  \
166555 2015-01-01 00:30:00          1005.03           15.36
166556 2015-01-01 01:30:00          1004.83           13.64
166557 2015-01-01 02:30:00          1004.71           13.49
166558 2015-01-01 03:30:00          1004.50           11.91
166559 2015-01-01 04:30:00          1004.57           11.55
...                    ...              ...             ...
192854 2017-12-31 19:30:00          1004.38           21.64
192855 2017-12-31 20:30:00          1004.92           20.35
192856 2017-12-31 21:30:00          1005.31           19.86
192857 2017-12-31 22:30:00          1005.70           16.85
192858 2017-12-31 23:30:00          1005.80           16.49

        ERA5_C_Ws100_Mean  ERA5_C_Wd100_Mean
166555              11.27              16.53
166556              11.26              18.45
166557              11.24              18.45
166558              11.01              17.35
166559              10.97              17.50
...                   ...                ...
192854               7.73             359.50
192855               8.49               0.37
192856               8.93               4.28
192857               8.87               7.11
192858               8.45              10.40

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [16]:
filtered_eos=Data_cleanup_Yr_Filter(eos)
print(filtered_eos)

                  DateTime  ERA5_C_T2_Mean  ERA5_C_Ws100_Mean  \
166555 2015-01-01 00:30:00           10.50               9.42
166556 2015-01-01 01:30:00            8.97               9.46
166557 2015-01-01 02:30:00            8.73               9.55
166558 2015-01-01 03:30:00            7.37               9.20
166559 2015-01-01 04:30:00            7.56               9.17
...                    ...             ...                ...
192854 2017-12-31 19:30:00           16.23               6.34
192855 2017-12-31 20:30:00           14.14               6.51
192856 2017-12-31 21:30:00           13.51               6.45
192857 2017-12-31 22:30:00           11.62               6.23
192858 2017-12-31 23:30:00           11.34               5.95

        ERA5_C_Wd100_Mean  ERA5_C_SP2_Mean
166555              37.64           985.48
166556              39.30           985.22
166557              40.17           985.20
166558              41.35           984.74
166559              42.00           984.46
...                   ...              ...
192854               2.21           983.92
192855              10.16           984.25
192856              17.68           984.73
192857              23.57           984.95
192858              27.99           984.80

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [17]:
filtered_efos=Data_cleanup_Yr_Filter(efos)
print(filtered_efos)

                  DateTime  ERA5_C_T2_Mean  ERA5_C_Ws100_Mean  \
166555 2015-01-01 00:30:00           18.60               2.42
166556 2015-01-01 01:30:00           17.78               2.03
166557 2015-01-01 02:30:00           17.98               1.45
166558 2015-01-01 03:30:00           17.39               0.92
166559 2015-01-01 04:30:00           17.51               0.68
...                    ...             ...                ...
192854 2017-12-31 19:30:00           23.67               0.51
192855 2017-12-31 20:30:00           20.50               0.57
192856 2017-12-31 21:30:00           19.19               1.39
192857 2017-12-31 22:30:00           17.11               1.77
192858 2017-12-31 23:30:00           17.94               1.70

        ERA5_C_Wd100_Mean  ERA5_C_SP2_Mean
166555             291.69           936.79
166556             294.57           936.32
166557             301.28           935.78
166558             289.52           935.85
166559             273.30           935.50
...                   ...              ...
192854              39.00           938.72
192855             302.52           939.49
192856             286.41           939.95
192857             282.08           940.09
192858             282.31           940.03

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [18]:
filtered_ms=Data_cleanup_Yr_Filter(ms)
print(filtered_ms)

                  DateTime  MERRA-2_C_SP0_Mean  MERRA-2_C_Ws50_Mean  \
166554 2015-01-01 00:00:00             1009.63                 9.67
166555 2015-01-01 01:00:00             1009.51                 9.69
166556 2015-01-01 02:00:00             1009.37                 9.78
166557 2015-01-01 03:00:00             1009.04                 9.61
166558 2015-01-01 04:00:00             1008.88                 9.42
...                    ...                 ...                  ...
192853 2017-12-31 19:00:00             1009.24                 6.63
192854 2017-12-31 20:00:00             1009.80                 7.18
192855 2017-12-31 21:00:00             1010.14                 7.43
192856 2017-12-31 22:00:00             1010.28                 7.57
192857 2017-12-31 23:00:00             1010.17                 7.57

        MERRA-2_C_Wd50_Mean  MERRA-2_C_T10_Mean
166554                18.98               13.40
166555                17.57               12.48
166556                16.56               11.76
166557                16.05               11.11
166558                14.67               10.55
...                     ...                 ...
192853                 5.59               22.42
192854                 7.83               21.13
192855                10.65               19.87
192856                13.22               18.70
192857                16.99               17.65

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [19]:
filtered_mos=Data_cleanup_Yr_Filter(mos)
print(filtered_mos)

                  DateTime  MERRA-2_C_Ws50_Mean  MERRA-2_C_Wd50_Mean  \
166554 2015-01-01 00:00:00                 9.50                41.01
166555 2015-01-01 01:00:00                 9.35                43.48
166556 2015-01-01 02:00:00                 9.29                45.62
166557 2015-01-01 03:00:00                 9.12                45.61
166558 2015-01-01 04:00:00                 8.96                43.35
...                    ...                  ...                  ...
192853 2017-12-31 19:00:00                 5.40                 8.82
192854 2017-12-31 20:00:00                 6.00                12.57
192855 2017-12-31 21:00:00                 6.21                18.08
192856 2017-12-31 22:00:00                 6.06                24.23
192857 2017-12-31 23:00:00                 5.69                29.63

        MERRA-2_C_T10_Mean  MERRA-2_C_SP0_Mean
166554               10.11              986.67
166555                9.50              986.63
166556                9.00              986.65
166557                8.56              986.48
166558                8.19              986.24
...                    ...                 ...
192853               18.97              985.48
192854               17.66              985.96
192855               16.55              986.30
192856               15.67              986.36
192857               15.03              986.25

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2

In [20]:
filtered_mfos=Data_cleanup_Yr_Filter(mfos)
print(filtered_mfos)

                  DateTime  MERRA-2_C_Ws50_Mean  MERRA-2_C_Wd50_Mean  \
166554 2015-01-01 00:00:00                 3.71               335.24
166555 2015-01-01 01:00:00                 3.61               340.83
166556 2015-01-01 02:00:00                 3.56               346.27
166557 2015-01-01 03:00:00                 3.45               350.41
166558 2015-01-01 04:00:00                 3.26               353.48
...                    ...                  ...                  ...
192853 2017-12-31 19:00:00                 4.33               293.25
192854 2017-12-31 20:00:00                 4.72               305.04
192855 2017-12-31 21:00:00                 4.55               316.75
192856 2017-12-31 22:00:00                 3.70               332.29
192857 2017-12-31 23:00:00                 3.10               348.26

        MERRA-2_C_T10_Mean  MERRA-2_C_SP0_Mean
166554               20.09              977.15
166555               19.81              976.71
166556               19.53              976.25
166557               19.32              975.92
166558               19.14              975.84
...                    ...                 ...
192853               24.31              977.56
192854               23.00              978.60
192855               22.21              979.34
192856               21.82              979.56
192857               21.45              979.53

[26304 rows x 5 columns]

C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2
C:\Users\manul\AppData\Local\Temp\ipykernel_10648\2834474043.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  year_filtered_dataframe[Filtered_col]=year_filtered_dataframe[Filtered_col].applymap(lambda x: round(x,2)) # Apply Decimal limit to 2